<div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 main" ng-controller="VideoCtrl" ng-init="showID = '{[{ .show.ID }]}';">
  <h1 class="page-header">{[{ .show.Title }]}</h1>
  <div ng-hide="episodes.length">
    {[{ template "episode_item" . }]}
  </div>

  <div ng-show="episodes.length">
  <div infinite-scroll="nextPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="0">
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-3 placeholder" ng-repeat="episode in episodes">
        <div class="thumbnail">
        <a href="/watch/{{episode.ID}}/0/{{episode.Title|urlencode}}">
        <img ng-src="{{episode.Thumbnail}}" class="img-responsive" alt="{{episode.Title}}" />
        </a>
        <div class="caption"><h4>{{episode.Title}}</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="table-responsive">
  </div>
  <div class="row">
  <div class="pull-right">
      <div class="fb-like" data-share="true" data-width="100" data-show-faces="true"></div>
  </div>
  </div>
</div>
<script src="/static/js/show.js"></script>
