<div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 main" ng-controller="VideoCtrl" ng-init="apiPath = '{[{ .apiPath }]}';">
  <h1 class="page-header">{[{ .header }]}</h1>
  {[{ if .channel.URL }]}
  <div class="row">
      <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div style="left: 0px; visibility: visible; top: 0px; position: relative;" class="large-player video-player-container">
        <div class="video-player-root">
          <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
            <h2 style="color:#000;">Live TV</h4>
            <link rel="stylesheet" href="//releases.flowplayer.org/6.0.3/skin/functional.css">
            <script src="//releases.flowplayer.org/6.0.3/flowplayer.min.js"></script>

            <div class="player">
               <video>
                  <source type="application/x-mpegurl"  src="{[{ .channel.URL }]}">
               </video>
            </div>
            <script>
            $(function () {
               $(".player").flowplayer({
                 autoplay: true,
                 embed: false
               });
            });
            </script>

          </div>
        </div>
      </div>
      </div>
  </div>
  {[{ end }]}
  <div class="row">
  <div class="pull-right">
      <div class="fb-like" data-share="true" data-width="100" data-show-faces="true"></div>
  </div>
  </div>
  <div ng-hide="shows.length">
  <div class="row placeholders">
  {[{ range .shows }]}
    <div class="col-xs-12 col-sm-3 placeholder">
      <div class="thumbnail">
      <a href="/show/{[{ .ID }]}/{[{ urlEsc .Title }]}">
      <img src="{[{ .Thumbnail }]}" class="img-responsive" alt="{[{ .Title }]}" />
      </a>
      <div class="caption"><h4>{[{ .Title }]}</h4></div>
      </div>
    </div>
  {[{ end }]}
  </div>
  </div>
  <div ng-show="shows.length">
  <div infinite-scroll="nextPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="0">
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-3 placeholder" ng-repeat="show in shows">
        <div class="thumbnail">
        <a href="/show/{{show.ID}}/{{show.Title|urlencode}}">
        <img ng-src="{{show.Thumbnail}}" class="img-responsive" alt="{{show.Title}}" />
        </a>
        <div class="caption"><h4>{{show.Title}}</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>

{[{ if .episodes}]}
  <h1 class="page-header">EPISODES</h1>
  {[{ template "episode_item" . }]}
{[{ end }]}

<div class="table-responsive">
</div>
</div>
<script src="/static/js/show_list.js"></script>
