{{ define "episode_item" }}
<div class="row placeholders">
  {{ range $index, $episode := .episodes }}
  <div class="col-xs-12 col-sm-3 placeholder">
    <div class="thumbnail">
    <a href="/watch/{{ $episode.ID }}/0" >
      <img src="{{ $episode.Thumbnail }}" class="img-responsive" alt="{{ $episode.Title }}">
    
    <div class="caption">{{ $episode.Title }}</div>
    </a>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
