{[{ define "episode_item" }]}
<div class="row placeholders">
  {[{ range $index, $episode := .episodes }]}
  <div class="col-xs-12 col-sm-3 placeholder">
    <div class="thumbnail">
    <a href="/watch/{[{ $episode.ID }]}/0/{[{ urlEsc $episode.Title }]}" >
      <img src="{[{ $episode.Thumbnail }]}" class="img-responsive" alt="{[{ $episode.Title }]}">
    </a>
    <div class="caption"><h4>{[{ $episode.Title }]}</h4></div>
    </div>
  </div>
  {[{ end }]}
</div>
{[{ end }]}
