{{ define "content" }}
<div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 main">
  <h1 class="page-header">Analytic</h1>
  <form action="/admin/analytic" method="post" enctype="multipart/form-data">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Process Analytic</button>
      </span>
      <input type="file" name="uploaded" class="form-control" >
    </div><!-- /input-group -->
  </form>
  <table class="table table-striped">
    <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>View Count</th>
          <th>Updated</th>
        </tr>
    </thead>
    <tbody>
      {{ range $index, $show := .shows }}
        <tr>
          <th scope="row">{{ add $index 1 }}</th>
          <td>{{ $show.Title }}</td>
          <td>{{ $show.ViewCount }}</td>
          <td><span class="glyphicon {{ if $show.Updated }} glyphicon-ok {{ else }} glyphicon-remove {{ end}}" aria-hidden="true"></span></td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
