{{ define "content" }}
{{ $s3url := "https://s3-ap-southeast-1.amazonaws.com/tvthailand-apps"}}
<div class="col-sm-8 main">

  <iframe style="height: 480px;width: 100%" src="http://www.omumusic.net/#/iframe/1/app_id/75/?partner_url=http://{{ .host }}/omu"></iframe>
  
{{ if .showRecents }}
  <h1 class="page-header"><a href="/recently">รายการล่าสุด</a></h1>
  <div class="row placeholders">
  {{ range .showRecents }}
    <div class="col-xs-12 col-sm-4 placeholder">
      <div class="thumbnail show-thumbnail">
      <a href="/show/{{ .ID }}/{{ urlEsc .Title }}">
      <img src="{{ .Thumbnail }}" class="img-responsive" alt="{{ .Title }}">
      </a>
      <div class="caption">{{ .Title }}</div>
      </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
  {{ end }}
  </div>
  <div class="page-more"><a href="/recently">เพิ่มเติม <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></div>
{{ end }}

<div class="row text-center" style="margin-top:40px;">
  <!-- <script type="text/javascript" src="//mds.nipa.co.th/f.php?aid=AID17051702"></script> -->
    <!--<img class="banner-728" style="width:728px;" src="{{ $s3url }}/static/images/ads_728x90.png" >-->
</div>

{{ template "mobile_ads" . }}

{{ if .showPopulars }}
<h1 class="page-header"><a href="/popular">Popular</a></h1>
<div class="row placeholders">
{{ range .showPopulars }}
  <div class="col-xs-12 col-sm-4 placeholder">
    <div class="thumbnail show-thumbnail">
    <a href="/show/{{ .ID }}/{{ urlEsc .Title }}">
      <img src="{{ .Thumbnail }}" class="img-responsive" alt="{{ .Title }}">
    </a>
    <div class="caption">{{ .Title }}</div>
    </div>
  </div>
  <div class="clearfix visible-xs-block"></div>
{{ end }}
</div>
<div class="page-more"><a href="/popular">เพิ่มเติม <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></div>
{{ end }}

<div class="row text-center" style="margin-top:40px;">
  <!-- <script type="text/javascript" src="//mds.nipa.co.th/f.php?aid=AID17051702"></script> -->
</div>

<div class="table-responsive">
</div>

<div class="row">
    <div class="fb-like" data-share="true" data-width="100" data-show-faces="true"></div>
</div>

</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  {{ if .categories }}
  <div class="sidebar-module sidebar-module-inset" style="margin-top:50px;">
    <h3>Categories</h3>
  {{ range .categories }}
    <div class="row category-home-item">
      <a href="/category/{{ .Titleize }}">
        <img src="{{ .Thumbnail }}" class="category-home-thumb" alt="{{ .Title }}">
        {{ .Title }}
      </a>
    </div>
  {{ end }}
  </div>
  {{ end }}

  {{ if .channels }}
  <div class="sidebar-module sidebar-module-inset" style="margin-top:50px;">
    <h3>Channels</h3>
  {{ range .channels }}
    <div class="row category-home-item">
      <a href="/channel/{{ .ID }}/{{ urlEsc .Title }}">
        <img src="{{ .Thumbnail }}" class="category-home-thumb" alt="{{ .Title }}">
        {{ .Title }}
      </a>
    </div>
  {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}

{{ define "script" }}
{{ end }}
