{{ define "content" }}
{{ $s3url := "https://s3-ap-southeast-1.amazonaws.com/tvthailand-apps"}}
<div class="row text-center">
    <img class="banner-728" style="width:728px;" src="{{ $s3url }}/static/images/ads_728x90.png" >
</div>
<div class="col-sm-8 main">
{{ if .showRecents }}
  <h1 class="page-header"><a href="/recently">รายการล่าสุด</a></h1>
  <div class="row placeholders">
  {{ range .showRecents }}
    <div class="col-xs-12 col-sm-4 placeholder">
      <div class="thumbnail show-thumbnail">
      <a href="/show/{{ .ID }}/{{ urlEsc .Title }}">
      <img src="{{ .Thumbnail }}" class="img-responsive" alt="{{ .Title }}">
      </a>
      <div class="caption"><h4>{{ .Title }}</h4></div>
      </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
  {{ end }}
  </div>
{{ end }}

{{ template "mobile_ads" . }}

{{ if .showPopulars }}
<h1 class="page-header"><a href="/popular">Popular</a></h1>
{{ end }}
<div class="row placeholders">
{{ range .showPopulars }}
  <div class="col-xs-12 col-sm-4 placeholder">
    <div class="thumbnail show-thumbnail">
    <a href="/show/{{ .ID }}/{{ urlEsc .Title }}">
      <img src="{{ .Thumbnail }}" class="img-responsive" alt="{{ .Title }}">
    </a>
    <div class="caption"><h4>{{ .Title }}</h4></div>
    </div>
  </div>
  <div class="clearfix visible-xs-block"></div>
{{ end }}
</div>

<div class="table-responsive">
</div>

<div class="row">
    <div class="fb-like" data-share="true" data-width="100" data-show-faces="true"></div>
</div>

</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <div class="row">
      <img class="thumbnail" src="{{ $s3url }}/static/images/ads_300x250.png" >
    </div>
    <div class="row">
      <img class="thumbnail" src="{{ $s3url }}/static/images/ads_300x250.png" >
    </div>
    <div class="row">
      <img class="thumbnail" src="{{ $s3url }}/static/images/ads_300x250.png" >
    </div>
  </div>
</div>
{{ end }}

{{ define "script" }}
{{ end }}
