{{ define "layout" }}
{{ $s3url := "https://s3-ap-southeast-1.amazonaws.com/tvthailand-apps"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" >
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title id="header-title">{{ if .Title }}{{ .Title }} | TV Thailand{{ else }}TV Thailand | Watch Thailand Show Online{{ end }}</title>
    <meta name="keywords" content="ดูละครย้อนหลัง, ทีวีออนไลน์, ดูทีวีย้อนหลัง, TV Thailand, {{ .Title }}" />
    <meta name="description" content="{{ .Description }}"/>
    <meta property="og:site_name" content="tvthailand.me"/>
    <meta property="og:title" content="{{ .Title }} - TV Thailand"/>
    <meta property="og:description" content="{{ .Description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ if .Image }}{{ .Image }}{{ else }}http://www.tvthailand.me/favicon/ms-icon-310x310.png{{ end }}"/>

    <!-- Bootstrap -->
    <!--<link href="{{ $s3url }}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     
    <link href="/static/css/base.css" rel="stylesheet">
    {{ if .isMobile }}
    <link href="/static/css/mobile.css" rel="stylesheet">
    {{ end }}

  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TV Thailand.Me</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/categories">หมวดทั้งหมด</a></li>
              <li><a href="/channels">ช่องทีวี / Live</a></li>
                <li><a href="/popular">Popular</a></li>
                 <li><a href="/mobile_apps">Mobile Apps</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/search">
            <div class="form-group">
              <input type="text" name="keyword" placeholder="Search" class="form-control" value="{{ .keyword }}">
            </div>
            <!-- <button type="submit" class="btn btn-success">Sign in</button> -->
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
   <div class="container">

     {{ range $key, $message := .flash }}
     <div class="alert alert-{{ $key }}" role="alert">
       {{ $message }}
     </div>
     {{ end }}

     {{ template "content" . }}

     {{ template "mobile_ads" . }}
   </div>
    <footer id="footer">
      © tvthailand.me All Rights Reserved.
      <div>facebook : <a href="https://www.facebook.com/TV.Thailand" target="_blank">TV Thailand</a><div>
    </footer>
    <!-- CDNJS -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <!-- For JSX -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script> -->
    <!--  Local JS -->
    <script src="{{ $s3url }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<script src="{{ $s3url }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <script src="{{ $s3url }}/bower_components/react/react.min.js"></script>
    <script src="{{ $s3url }}/bower_components/react/react-dom.min.js"></script>
    <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '202355306578303',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69008952-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="http://cdn.otv.co.th/js/otvirads.js"></script>
    {{ template "script" . }}
  </body>
</html>
{{ end }}
