<div ng-controller="VideoCtrl" ng-init="watch('{[{ .episode.HashID }]}', {[{ .playIndex }]}); episode_title = '{[{ .playlistItem.Title }]}';">
  <div class="video-player-root">
    <div class="row">
    <div id="video-player-section" class="z-index-layer-2 watch-page">
      <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div style="left: 0px; visibility: visible; top: 0px; position: relative;" class="large-player video-player-container">
        <div class="video-player-root">
          <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div id="player"></div>
            <div ng-bind-html="iframeVideo"></div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
    <div class="row video-meta">
      <div class="col-sm-12 col-sm-offset-1 col-md-9 col-md-offset-2">
        <div class="row video-meta">
          <a href="/show/{[{ .show.ID }]}/{[{ urlEsc .show.Title }]}"><span class="show-title">{[{ .show.Title }]}</span></a>
          <span  class="episode-title" ng-bind="episode_title"></span>
        </div>
      </div>
      <div class="row">
      <div class="pull-right">
          <div class="fb-like" data-share="true" data-width="100" data-show-faces="true"></div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="row placeholders">
        {[{ range $index, $playlist := .episode.Playlists }]}
        <div class="col-xs-12 col-sm-3 placeholder">
          <div class="thumbnail">
          {[{ if $.episode.IsURL }]}
          <a href="" target="_blank" >
            <img src="{[{ $playlist.Image }]}" class="img-responsive" alt="{[{ $playlist.title }]}">
          </a>
          {[{ else }]}
            <a href="/watch/{[{$.episode.ID}]}/{[{$index}]}/{[{ urlEsc $.episode.Title }]}">
              <img src="{[{ $playlist.Image }]}" class="img-responsive" alt="{[{ $playlist.Title }]}">
            </a>
          {[{ end }]}
          </div>
          <div>
            <h4>{[{ $playlist.Title }]}</h4>
            {[{ if $playlist.Password }]}
              <p>{[{ $playlist.Password }]}</p>
            {[{ end }]}
          </div>
        </div>
        {[{ end }]}

      </div>
    </div>
  <div class="table-responsive">
  </div>
  </div>
</div>
<script type="text/javascript" src="/static/js/watch.js"></script>
