{{ define "content" }}
  <div class="video-player-root">
    <div class="row">
    <div id="video-player-section" class="z-index-layer-2 watch-page">
      <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div style="left: 0px; visibility: visible; top: 0px; position: relative;" class="large-player video-player-container">
        <div class="video-player-root">
          {{ if .episode.IsURL }}
            <a href="{{ .playlistItem.File }}" target="_blank" >
              <img src="{{ .playlistItem.Image }}" class="img-responsive" alt="{{ .playlistItem.Title }}">
            </a>
          {{ else }}
            <div class="embed-responsive embed-responsive-16by9">
              {{ if .embedURL }}
                  <iframe class="embed-responsive-item" frameborder="0" width="800" height="460" src="{{ .embedURL }}" allowfullscreen></iframe>
              {{ else }}
                  <div id="player" class="embed-responsive-item"></div>
              {{ end }}
            </div>
           {{ end }}
        </div>
      </div>
      </div>
      </div>
    </div>
    <div class="row video-meta">
      <div class="col-sm-12 col-sm-offset-1 col-md-9 col-md-offset-2">
        <div class="row video-meta">
          <a href="/show/{{ .show.ID }}/{{ urlEsc .show.Title }}"><span class="show-title">{{ .show.Title }}</span></a>
          <span  class="episode-title" ng-bind="episode_title"></span>
        </div>
      </div>
      <div class="row">
      <div class="pull-right">
          <div class="fb-like" data-share="true" data-width="100" data-show-faces="true"></div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="row placeholders">
        {{ range $index, $playlist := .episode.Playlists }}
        <div class="col-xs-12 col-sm-3 placeholder">
          <div class="thumbnail">
          {{ if $.episode.IsURL }}
          <a href="{{ $playlist.File }}" target="_blank" >
            <img src="{{ $playlist.Image }}" class="img-responsive" alt="{{ $playlist.Title }}">
          </a>
          {{ else }}
            <a href="/watch/{{$.episode.ID}}/{{$index}}">
              <img src="{{ $playlist.Image }}" class="img-responsive" alt="{{ $playlist.Title }}">
            </a>
          {{ end }}
          </div>
          <div>
            <h4>{{ $playlist.Title }}</h4>
            {{ if $playlist.Password }}
              <p>{{ $playlist.Password }}</p>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 hide-animation ng-hide-add-active">
      <h1 class="page-header"><a href="/show/{{ .show.ID }}/{{ urlEsc .show.Title }}">EPISODES &gt;</a></h1>
      {{ template "episode_item" . }}
    </div>
  <div class="table-responsive">
  </div>
{{ end }}

{{ define "script" }}
  {{ if eq .episode.SrcType 0 }}
  <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      function onYouTubeIframeAPIReady() {
        var player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: {{ .playlistItem.VideoID }},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
      function onPlayerReady(event) {
        var videoIds = {{ marshal .episode.Videos}};
        if (videoIds.length > 1) {
          event.target.cuePlaylist({ playlist:{{ marshal .episode.Videos}},
            index:{{ .playIndex }}, startSeconds:0, suggestedQuality:"default"});
        } else {
          event.target.playVideo();
        }
      }
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.CUED) {
          event.target.playVideo();
        }
      }
    </script>
  {{ end }}
{{ end }}
