<div ng-controller="" ng-init="">
  <div class="video-player-root">
    <div class="row">
    <div id="video-player-section" class="z-index-layer-2 watch-page">
      <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div style="left: 0px; visibility: visible; top: 0px; position: relative;" class="large-player video-player-container">
        <div class="video-player-root">
          <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div class="otv-iframe" ng-bind-html="iframeVideo">
              <script>
              document.write({[{ .partItem.IframeHTML }]})
              </script>
              </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
    <div class="row video-meta">
      <div class="col-sm-12 col-sm-offset-1 col-md-9 col-md-offset-2">
        <div class="row video-meta">
          <a href="/show/{[{ .show.ID }]}/{[{ urlEsc .show.Title }]}">
            <span class="show-title">{[{ .otvEpisodePlay.SeasonDetail.Title }]}</span>
          </a>
          {[{ if not .isMobile }]}
          <div  class="episode-detail">{[{ .otvEpisodePlay.EpisodeDetail.Detail }]}</div>
          {[{ end }]}
        </div>
        <div class="row">
        <div class="pull-right" style="padding-right:30px;">
            <div class="fb-like" data-share="true" data-width="100" data-show-faces="true"></div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 hide-animation ng-hide-add-active">
    <div class="row placeholders">
      {[{ range $index, $partItem := .otvEpisodePlay.EpisodeDetail.PartItems }]}
      <div class="col-xs-12 col-sm-3 placeholder">
        <div class="thumbnail">
            <a href="/watch_otv/{[{$.otvEpisodePlay.EpisodeDetail.EpisodeID}]}/{[{$index}]}/{[{ urlEsc $partItem.Title }]}">
              <img src="{[{ $partItem.Cover }]}" class="img-responsive" alt="{[{ $partItem.Title }]}">
            </a>
        </div>
        <div><h4>{[{ $partItem.Title }]}</h4></div>
        </div>
        {[{ end }]}
      </div>
    </div>

    <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 hide-animation ng-hide-add-active">
      <h1 class="page-header"><a href="/show/{[{ .show.ID }]}/{[{ urlEsc .show.Title }]}">EPISODES &gt;</a></h1>
    <div class="row placeholders">
    {[{ range $index, $episode := .episodes.EpisodeList }]}
      <div class="col-xs-12 col-sm-3 placeholder">
        <div class="thumbnail">
        <a href="/watch_otv/{[{ $episode.EpisodeID }]}/0/{[{ urlEsc $episode.NameTh $episode.Date }]}" >
        <img src="{[{ $episode.Thumbnail }]}" class="img-responsive" alt="{[{ $episode.NameTh }]}">
        </a>
        <div class="caption"><h4>{[{ $episode.NameTh }]} {[{ $episode.Date }]}</h4></div>
        </div>
      </div>
    {[{ end }]}
    </div>
    </div>

  <div class="table-responsive">
  </div>
  </div>
</div>
