{{ define "content" }}
<div>
  <div class="video-player-root">
    <div class="row">
    <div id="video-player-section" class="z-index-layer-2 watch-page">
      <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div style="left: 0px; visibility: visible; top: 0px; position: relative;" class="large-player video-player-container">
        <div class="video-player-root">
          <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div class="embed-responsive embed-responsive-16by9">
              {{ html .partItem.IframeHTML }}
              </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
    <div class="row video-meta">
      <div class="col-sm-12 col-sm-offset-1 col-md-9 col-md-offset-2">
        <div class="row video-meta">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <a href="/show/{{ .show.ID }}/{{ urlEsc .show.Title }}">
                <span class="show-title">{{ .partItem.Title }}</span>
              </a>
            </div>
            <div class="col-sm-2 col-md-2">
              <button id="btn-show-episode-detail" class="btn">อ่านเรื่องย่อ</button>
            </div>
          </div>
          <div  class="episode-detail">{{ .otvEpisodePlay.EpisodeDetail.Detail }}</div>
        </div>
        <div class="row">
        <div class="pull-right" style="padding-right:30px;">
            <div class="fb-like" data-share="true" data-width="100" data-show-faces="true"></div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="row placeholders">
      {{ range $index, $partItem := .otvEpisodePlay.EpisodeDetail.PartItems }}
      <div class="col-xs-12 col-sm-3 placeholder">
        <div class="thumbnail">
            <a href="/watch_otv/{{$.otvEpisodePlay.EpisodeDetail.EpisodeID}}/{{$index}}">
              <img src="{{ $partItem.Cover }}" class="img-responsive" alt="{{ $partItem.Title }}">
            </a>
        </div>
        <div><h4>{{ $partItem.Title }}</h4></div>
        </div>
        {{ end }}
      </div>
    </div>

    <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 hide-animation">
      <h1 class="page-header"><a href="/show/{{ .show.ID }}/{{ urlEsc .show.Title }}">EPISODES &gt;</a></h1>
      {{ template "episode_otv_item" . }}
    </div>

  <div class="table-responsive">
  </div>
  </div>
</div>
{{ end }}

{{ define "script" }}
<script>
$(function(){
  $('.episode-detail').hide()
  $('#btn-show-episode-detail').click(function(){
    $('.episode-detail').toggle(1000)
  });
});
</script>
{{ end }}
